html
    head
        title= title
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        link(rel="stylesheet", href="/css/stylesheet.css")
    body    
        .container.mt-5 
            .row  
                .col-md-6.mx-auto.first
                    input.form-control(type="text")
                    button.btn.btn-light.px-4 Search
            .row.mt-3
                .col.mx-auto
                    .card
                        img.img-fluid(src="/img/test.jpg", alt="")
                        .card-body
                            .card-title Weather
                            .card-text  Lorem ipsum dolo adipisicing elit. Voluptatum autem doloremque, libero facere repellendus tenetur dolorem. Ullam, aliquid, ven nam velit.
                            a.btn.btn-primary Tweet Weather
